<!DOCTYPE html>
<html lang="en">
<body>
<div th:fragment="housesList(houses)"
     th:unless="${#lists.isEmpty(houses)}" class="houses-list">
    <!--/*@thymesVar id="houses" type="java.util.Iterator"*/-->
    <!--/*@thymesVar id="house" type="isep.webtechnologies.homekeep.models.house.House"*/-->
    <a th:each="house : ${houses}" th:href="${'/api/houses/'+house.getId}" class="house link-unstyled">
        <div class="card">
            <div th:insert="housefragments::houseCarousel(house=${house})" class="card-body col-4"></div>
            <div class="card-body col-4">
                <h3 th:text="${house.getTitle}" class="card-title"></h3>
                <p th:text="${house.getDescription.orElse('No description provided')}" class="card-text"></p>
            </div>
            <div class="card-body col-4">
                <p th:if="${house.getAverageRating.isPresent}" th:inline="text">
                    <i class="far fa-star" style="color:gold"></i>
                    [[${#numbers.formatDecimal(house.getAverageRating.get, 0, 'NONE', 2, 'COMMA')}]]
                </p>
                <p th:unless="${house.getAverageRating.isPresent}">No ratings available</p>
                <p th:text="${house.getLocation==null} ? 'Location: not provided' :
                'Location: '+${house.getLocation.getRegion+', '+house.getLocation.getCountry}"></p>
                <p th:text="'Owner: '+${house.getOwner.getFirstname}"></p>
            </div>
        </div>
    </a>
    <style>
        .house {
            margin: 0 1rem;
        }

        .house .card {
            flex-direction: row;
            align-items: center;
        }

         .carousel {
             height: 10rem;
             width: 20rem;
         }
    </style>
</div>
<div th:fragment="houseCarousel(house)" class="carousel slide" data-ride="carousel">
    <!--/*@thymesVar id="house" type="isep.webtechnologies.homekeep.models.house.House"*/-->
    <div th:if="${house.getImages.isEmpty}">No images provided</div>
    <!--/*@thymesVar id="image" type="isep.webtechnologies.homekeep.models.house.HouseImage"*/-->
    <div th:unless="${house.getImages.isEmpty}" class="carousel-inner">
        <div th:each="image, iterStat: ${house.getImages}"
             class="carousel-item"
             th:classappend="${iterStat.index}== 0  ? '':'active'">
            <img th:src="@{'/api/houseimages/image/'+${image.getId}}" class="d-block img-responsive">
        </div>
    </div>
    <style>
        .carousel-inner, .carousel-item {
            /*fit carousel size*/
            height: 100%;
            width: 100%;
        }
    </style>
</div>
</body>
</html>
