<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="global :: head"></th:block> /*/-->
    <title>HomeKeep</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>

<body onload="initForm();">
<header th:replace="global :: header"></header>
<div class="container">
    <h1 class="text-center">Welcome to HomeKeep!</h1>
    <form id="search-houses" th:action="@{/api/houses/search}" th:object="${search}">
        <div class="form-group text-center">
            <input name="title" th:value="${param.title}" type="text" placeholder="Where would you like to go ?"
                   autofocus/>
            <button type="submit">
                <span class="fa fa-search"></span>
                Search
            </button>
        </div>
        <div class="row">
            <fieldset class="col form-group text-center">
                <legend>Travel dates</legend>
                <br>
                <label>
                    From
                    <input name="startDate" th:value="${param.startDate}" type="date"/>
                </label>
                <label>
                    To
                    <input name="endDate" th:value="${param.endDate}" type="date"/>
                </label>
            </fieldset>
            <fieldset class="col form-group text-center row">
                <legend>Travelers</legend>
                <label class="col-6">
                    Number of persons
                    <input name="persons" th:value="${param.persons}" type="number" min="1" value="1"/>
                </label>
                <label class="col-6">
                    Number of babies
                    <input name="babies" th:value="${param.babies}" type="number" value="0"/>
                </label>
            </fieldset>
        </div>
    </form>
    <output form="search-houses" th:if="${not #lists.isEmpty(search)}" style="width: 100%">
        <div th:replace="housefragments :: housesList(houses=${search},houseRedirectionBaseUrl='/house/')"></div>
    </output>
</div>
</body>

</html>
