<!DOCTYPE html>
<html lang="en">
<head>
    <!--/*/ <th:block th:include="global :: head"></th:block> /*/-->
    <title>Registration</title>
    <script type="text/javascript" th:src="@{/js/registration.js}"></script>
</head>
<body>
<header th:replace="global :: header"></header>
<div class="container">
    <form id="registration-form" th:action="@{/api/users}" method="post">
        <h1>Registration Page</h1>
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname" autofocus="autofocus"/>
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname"/>
        <label for="email">Email</label>
        <input type="text" id="email" name="email"/>
        <label for="address">Address</label>
        <input type="text" id="address" name="address"/>
        <label for="country">Country</label>
        <input type="text" id="country" name="country"/>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"/>
        <input id="submit" type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>